body {
    background-color: hwb(239 0% 46%);
    color:rgb(255, 244, 244);
    font-family: "Tiny5", system-ui;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: rgb(250, 234, 10);
    color:rgb(0, 0, 0);
    font-family: "Tiny5", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 60%;
}

img {
    max-width: 50%;
}